<h2>Chat</h2>
  <hr>

  <div class="app-mensajes" id="app-mensajes">

      <div class="text-right" *ngFor="let chat of _cs.chats"
      [ngClass]="{'text-right': _cs.usuario.uid == chat.uid }">
          <span class="badge"
          [ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid,
                      'badge-success': _cs.usuario.uid != chat.uid}"
          >{{ chat.nombre }}</span>
          <p>
            {{ chat.mensaje }}
          </p>
        </div>

  </div>
<div class="input-group">
  <input type="text"
          class="form-control col-8"
          name="mensaje" 
          [(ngModel)]="mensaje"
          placeholder="Mensaje"
          (keyup.enter)="enviarMensaje()">

<button type="button" class="btn btn-primary form-control col-4"
(click)="enviarMensaje()">Envia</button>
</div>
